<div class="container my-5">
  <h1 class="mb-3">Add New Account:</h1>
  <div class="row">
    <div class="col-6">
      <form name="myForm" #form="ngForm" (ngSubmit)="addEmployee(form)">
        <div class="mb-3">
          <label for="customerId" class="form-label"
            >Enter your customerId</label
          >
          <input type="text" class="form-control" id="customerId" name="customerId" [(ngModel)]="addAccount.customerId" />
        </div>
        <div class="mb-3">
          <label for="initialCredit" class="form-label"
            >Enter initial credit</label
          >
          <input type="text" class="form-control" id="initialCredit" name="initialCredit" [(ngModel)]="addAccount.initialCredit"/>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <div class="mb-5" *ngIf="errorMessage">
        <p class="text-danger">{{errorMessage.Message | json}}</p>
        </div>
        <div class="mb-5" *ngIf="successMessage$">
          <p class="text-success">{{successMessage$}}</p>
          <div class="mb-3">
            <button type="button" (click)="navigateToViewAccount()" class="btn btn-primary">Click here to view your account details</button>
          </div>
          </div>
      </form>
    </div>
  </div>
</div>
