<div class="container my-5">
  <h1 class="mb-3">Customers:</h1>
  <table class="table table-bordered table-striped" *ngIf="customers && customers.length>0">
    <thead>
      <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.FirstName }}</td>
        <td>{{ customer.LastName }}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="customers && customers.length<=0">No customers were found</p>
</div>
